    @import "../styles/base.css";
    @import "../styles/reset.css";

    body {
        display: flex;
        min-height: 110vh;
    }

    .sidebar {
        width: 200px;
        background-color: var(--bg);
        position: sticky;
        top: 0;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--primary);
    }

    .logo-section {
        margin-bottom: 24px;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 4px;
        color: var(--primary);
    }

    .logo-icon {
        width: 30px;
        height: 30px;
        color: var(--primary);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-text {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--primary);
    }


    .subtitle {
        font-size: 13px;
        color: var(--color);
        padding-left: 20px;
    }

    .subtitle1 {
        font-size: 16px;
        color: var(--color);
    }

    .subtitle2 {
        font-size: 11px;
        color: var(--color);
    }


    .new-report-btn {
        background-color: var(--primary);
        color: white;
        border: none;
        padding: 12px;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
    }

    .new-report-btn:hover {
        background-color: var(--primary);
    }

    .menu {
        list-style: none;
        flex-grow: 1;
    }

    .menu li {
        margin-bottom: 4px;
    }

    .menu a {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 11px 14px;
        text-decoration: none;
        color: var(--color);
        border-radius: 8px;
        font-size: 15px;
    }

    .menu a:hover {
        background-color: #f3f4f6;
    }

    .menu a.active {
        background-color: var(--secondary);
        color: black;
    }


    .menu a svg,
    .bottom-links a svg {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
    }

    .bottom-links {
        list-style: none;
        border-top: 1px solid var(--color);
        padding-top: 8px;
    }

    .bottom-links a {
        display: flex;
        align-items: center;
        gap: 12px;
        padding-left: 14px;
        padding-top: 8px;
        padding-bottom: 10px;
        text-decoration: none;
        color: var(--color);
        border-radius: 8px;
        font-size: 14px;
    }

    .bottom-links button {
        background-color: var(--primary);
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
    }

    .bottom-links a:hover {
        background-color: #f3f4f6;
    }

    @media (max-width: 768px) {
        .sidebar {
            width: 100%;
            height: auto;
            position: relative;
        }

        body {
            flex-direction: column;
        }
    }